.Navbar-HomeContent{
    text-align: center !important;
    padding-top: 200px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;


}

.no-margin-sticky{
    margin: 0px;
    padding: 10px 400px !important;
}

.Main-title{
    font-weight: 600;
    width: 60% !important;
    font-size: 4.5vw !important;
    word-spacing: -15.2px;
    letter-spacing: -0.2vw;
    padding: 5px 0 0 0 !important;
}

.Top-Main-title{
    font-weight: 400 !important;
    font-size: 2vw !important;
    width: 100 !important;
    word-spacing: -0.1vw;
    padding-bottom: 0px;
}

.Home-Intro{
    font-weight: 400 !important;
    font-size: 1.4vw !important;
    word-spacing: -0.2em !important; 
    /* padding: 10px 560px 0px 560px; */
    width: 105rem !important;
    line-height: 2.3vw;
}

.Get-Started-Btn:hover, .Get-Started-Btn:active{
    background-color: #5D2BFF;
    color: white;
    
    box-shadow: 0px 2px 10px black ;
}

.LoginSelector{
    margin-top: 100px;
}