
.Login-Selector {
    padding-top: 28vw;
    display: flex;
    justify-content: center;
    text-align: center;

}


.User-Login, .Land-Inspector, .Contract-Owner {
    margin: 0vw 1vw;
    padding: 1vw 2vw;
    width: 20vw;
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 20vw;
    font: inherit;
    font-size: 1.5vw;
    font-weight: 600;
    color: #00072d;
}


.Contract-Owner-Btn-Outer, .Contract-Owner-Btn-Outer > a {
    border: none !important;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important; */
    font: inherit;
    font-size: 1.5vw;
    border-radius: 20vw;
    /* margin: 0vw 1vw; */
    margin-top: 0vw;
    margin-left: 2vw;
    padding: 0vw 0vw;
    color: #00072d !important;
    background-color: white !important;
    width: 20vw;
    font-size: 1.5vw;
    font-weight: 600;

}

.Contract-Owner-Btn-Inner{
    /* color: #00072d;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: none !important; */
    width: 20vw;
    box-shadow: none !important;
    margin: 0vw;
    padding: 0vw;

}

.No-Underline {
    text-decoration: none;
}
.FullBtn{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
}

#dropdown-split-basic{
    background-color: white;
    border: none;
    color: #00072d;

}

a.dropdown-item{
    color: #00072d;
}

.btn-success{
    font: inherit !important;
    font-size: 1.5vw !important;
    font-weight: 600 !important;
}
  